<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/compose.css">
    <title>Document</title>
</head>
<body>

       <%- include("header") %>

           <div class="blog-form">

                 <h1>Compose</h1>

            <form action="/add" method="post">

             <label class="label-1" for="title">Title:</label><br>
             <input class="input-1" type="text" id="title" name="title" required><br><br>
     
             <label class="label-2" for="post">Post:</label><br>
             <textarea class="input-2" id="post" name="post" rows="10" required></textarea><br><br>
     

                 <button class="button" type="submit">Publish</button>
            
           </form>

        </div>

           

       <%- include("footer") %>
    
</body>
</html>